body{background-color: black;
}

h1{
	color:red;
	font-size: 35px;
}

p{
	color:white;
	font-size: 20px;
}

img{
	border: 5px solid white;
}

iframe{
	border: 5px solid white;
}
h2{
	color:red;
	font-size: 25px;
}

li{
	color: lightblue;
	font-size: 20px;
}

h3{
	color: white;
	font-size: 25px;
}
